<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title>Foden</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div id="content">
    <ion-toolbar>
      <ion-title size="large">Foden</ion-title>
    </ion-toolbar>
  </div>
  </ion-header>


  
  <img src="{{players[1].image}}" width="500" height="500">
  <h1>{{players[1].name}}</h1>
  <h2>{{players[1].age}}</h2>
  <p>Phil Foden claimed his first major individual award of the season on Friday, becoming the 77th player to be named 
    the Football Writers’ Association (FWA) Footballer of the Year. 
    The award significantly increases the 23-year-old’s chances of winning the Premier League Player of the Season trophy.</p>

</ion-content>

