<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title>Rice</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rice</ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="{{players[4].image}}" width="500" height="500">
  <h1>{{players[4].name}}</h1>
  <h2>{{players[4].age}}</h2>
  <p>Is he the favorite? Rice has been everything Arsenal needed in a center mid and 
    carries the rare distinction of being a clear and big upgrade at a position that was already functional at Arsenal. 
    The leadership on display plus the chance for voters to elect an Englishman for the first time since Jamie Vardy in 2015-16 may be this X-factor’s X-factor. </p>
</ion-content>
