<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title>Halland</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Halland</ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="{{players[3].image}}" width="500" height="500">
  <h1>{{players[3].name}}</h1>
  <h2>{{players[3].age}}</h2>
  <p>Haaland has broken record after record during his first season at Manchester City. He has netted an incredible 36 goals in 33 top-flight games. 

    The Norwegian now holds the record for the most goals scored in a 38-game Premier League season. </p>
</ion-content>
