<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Premier League App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" height="250">
  <img src="https://cdn.freebiesupply.com/images/large/2x/premier-league-logo-black-and-white.png">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Premier League App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button [routerLink]="['/table-page']">Table</ion-button>
  </div>
</ion-content>
