<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Premier League</ion-title>
    </ion-toolbar>
  </ion-header>
    <!-- Ion-padding class gives padding between the content and the title-->
  <ion-content class="ion-padding">
    <div>
        <!-- lets user direct to the news page of the app-->
        <!-- fill = clear allows the buttons background to be clear-->
        <!-- color just sets the text color to dark-->
      <ion-button [routerLink]="['/home']" fill="clear" color="dark" [disabled]="true">Home Page</ion-button>
      <br>
      <!-- allows next button to go on a sepearte line-->
      <ion-button [routerLink]="['/table-page']" fill="clear" color="dark">New's Page</ion-button>
      <br>
      <ion-button [routerLink]="['/player-nominies']" fill="clear" color="dark">player of the Season Nominies</ion-button>
    </div>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Premier League</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Ion-padding class gives padding between the content and the title-->
  <ion-content class="ion-padding"> 
    <img src="https://cdn.freebiesupply.com/images/large/2x/premier-league-logo-black-and-white.png">
  </ion-content>
</div>

